{
  "presets": ["latest", "react", "stage-0"],
  // https://github.com/avajs/ava/issues/1011
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "${CONFIG}",
            "verbose": true
          }
	]
      ]
    }
  }
}
